@font-face {
  font-family: Stanberry;
  src: url(./fonts/Stanberry.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: Stanberry;
}

body {
  background: #fffafd;
}

#container {
  min-height: calc(100vh - 80px);
  text-align: center;
}

#container h1 {
  margin: 10px;
}

#container img {
  width: 700px;
  margin: 0 50px 50px;
}

.buttons-nav {
  display: inline-block;
  width: 175px;
  background: #f8dae8;
  margin: 10px;
  padding: 20px;
  border-radius: 30px;
  color: #42072d;
  font-weight: bold;
}

.buttons-nav:hover {
  background: #ebbcd2;
  width: 200px;
  padding: 20px 50px;
  transition: ease-in 0.5s;
}

.buttons-nav:link {
  transition: ease-out 0.5s;
}

.buttons-nav:active {
  background: #42072d;
  color: #f8dae8;
}

footer {
  background: #db3982;
  height: 70px;
}

ul {
  display: flex;
  justify-content: center;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
}

.social-logo {
  width: 50px;
  margin: 16% 5px 0;
  transition: ease-in 0.5s;
}

.social-logo:hover {
  width: 50px;
  margin: 5% 5px 0;
  transition: ease-out 0.5s;
}
